<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :app_date %>
    <%= form.date_select :app_date %>
  </div>

  <div class="field">
    <%= form.label :app_time %>
    <%= form.time_select :app_time %>
  </div>

  <div class="field">
    <%= form.label :app_status %>
    <%= form.number_field :app_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
