<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>App date:</strong>
  <%= @appointment.app_date %>
</p>

<p>
  <strong>App time:</strong>
  <%= @appointment.app_time %>
</p>

<p>
  <strong>App status:</strong>
  <%= @appointment.app_status %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
