<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center backgroundGradient">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <div id="background"></div>
      <nav class="navbar navbar-expand-md navbar-light"
        <h3 class="navbar-brand text-dark">Venčanice Snežana</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thisNavbar"
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="thisNavbar">
          <div class="nav-item nav-link"><%= link_to "Početna", root_path, class: "text-muted" %></div>
          <div class="nav-link"><%= link_to "O nama", about_path, class: "text-muted" %></div>
          <div class="nav-link"><%= link_to "Kontakt", contact_path, class: "text-muted" %></div>
          <div class="nav-link"><%= link_to "Venčanice", dresses_path, class: "text-muted" %></div>
          <div class="nav-link"><%= link_to "Zakažite termin", new_appointment_path, class: "text-muted" %></div>
          <div class="nav-link">
            <% if current_user.is_a?(User) %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-muted" %>
            <% end %>
          </div>
        </div>
      </nav>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

      <footer class="mastfoot">
        <div class="inner">
          <p class="app-footer">Salon venčanica Snežana 2018. Sva prava zadržana.</p>
        </div>
      </footer>

    </div>

  </body>
</html>
