<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center backgroundGradient">
    
    <div class="cover-container d-flex w-120 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner fixed-top">

          <h3 class="masthead-brand text-muted">Ven훾anice</h3>
          <nav class="nav nav-masthead justify-content-center ">
            <div class="nav-link"><%= link_to "Po훾etna", root_path, class: "text-muted" %></div>
            <div class="nav-link"><%= link_to "O nama", about_path, class: "text-muted" %></div>
            <div class="nav-link"><%= link_to "Kontakt", contact_path, class: "text-muted" %></div>
            <div class="nav-link"><%= link_to "Ven훾anice", dresses_path, class: "text-muted" %></div>      
            <div class="nav-link"><%= link_to "Zaka탑ite termin", new_appointment_path, class: "text-muted" %></div>
            <div class="nav-link">
              <% if current_user.is_a?(User) %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>

              <% end %>
            </div>
          </nav>
        
        </div>
      </header>
    

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

      <footer>
        
      </footer>
    
    </div>
  </body>
</html>
